body{
    background-image: url(mountainBackground.jpeg);
    background-position: center;
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
#clock-container{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid;
    height: 100vh;
    border: none;
}
#clock{
    font-family: monospace;
    font-size: 6.5rem;
    font-weight: bold;
    text-align: center;
    color: grey;
    backdrop-filter: blur(5px);
    background-color: hsl(0, 100%, 0.1);
}
